/**
* Data Processing
* Marwa Ahmed, Student number 10747141
* Assignment: D3 Linked views
**/

svg {
	background-color: #efefef;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}