/**
* Course: Data Processing 
* Name: Marwa Ahmed 
* Student number: 10747141
* Assignment: D3 Linked views
**/

/* background color of map */
#containerMap {
		background-color: lightCyan;
}


/* border color */
svg {
	border: 1px solid lightgrey;
}


/* style the x and y axis of the bar chart */
.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}