/**
* Course: Data Processing 
* Name: Marwa Ahmed 
* Student number: 10747141
* Assignment: D3 Linked views
* css style file: linkedviews.css 
**/

/* background color and border of map */
#containerMap {
		background-color: lightCyan;
		box-shadow: 0 0 20px #ccc;
}

/* border color of bar */
#containerBar {
	border: 1px solid lightgrey;
	box-shadow: 0 0 20px #ccc;
}

/* style the x and y axis of the bar chart */
.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

/* legend for the colors of the countries on map */
#legend {
      position: absolute;
      left: 20px;
      top: 10px;
    }

#legend .legend-title {
  margin-bottom: 4px;
  font-weight: bold;
}
