/**	Course: Data Processing 
*	Name: Marwa Ahmed 
*	Student number: 10747141
*	D3 Scatterplot 
**/


/*	body {
	  font: 10px sans-serif;
	}

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}

	.dot {
	  stroke: #000;
	}*/

circle {
	opacity: 0.75;
}
